<h1>Add Employee</h1>
   <a href="/dashboard"><button>Dashboard</button></a>
   <a href="/children">Children</a>
   <a href="/logout"><button>Log Out</button></a>
   <br>
   <br>
<form method="POST" action="/employees">
   <label>First Name:<input type="text" name="first_name"></label>
   <br>
   <label>Last Name:<input type="text" name="last_name"></label>
   <br>
   <label>Phone:<input type="text" maxlength="10" name="phone"></label>
   <br>
   <label>Email:<input type="email" name="email"></label>
   <br>
   <input type="submit">
</form>