<h1>Add Child</h1>
<br>
<form method="POST" action="/children">
   <label for="first_name">First Name:
      <input type="text" name="first_name">
   </label>
   <br>
   <label for="last_name">Last Name:
      <input type="text" name="last_name">
   </label>
   <br>
   <label for="contact_phone">Contact Phone:
      <input type="text" maxlength="10" name="contact_phone">
   </label>
   <br>
   <label for="contact_email">Contact Email:
      <input type="text" name="contact_email">
   </label>
   <br>
   <input type="submit">
</form>