.nav{
  background-color: midnightblue;
  color: gold;
  position: relative;
  height: 100vh;
  padding-top: 10px;
}

.nav-link a{
  color: white;
  text-decoration: none;
}

.content{
  padding-top: 10px;
}