.content{
  padding-top: 10px;
}

.index-row{
  padding-bottom: 5px;
}

hr{
  background: black;
}

.manage-buttons{
  display: inline-flex;
}

.nav{
  background-color: midnightblue;
  height: 100vh;
  padding-top: 10px;
}

.nav-brand > a{
  color: gold;
  text-decoration: none;
}

.nav-link a{
  color: white;
  text-decoration: none;
}

