<h1>Login</h1>
<br>

<%if @error %>
   <div class="alert alert-danger" role="alert">
   <%=@error%>
   </div>
<%end%>


<form method="POST" action="/login">
<div class="form-group form-row">
  <label class="form-check-label">Uername:
   <input class="form-control" type="text" name="username"></label>
</div> 
<div class="form-group form-row">
  <label class="form-check-label">Password:
   <input class="form-control" type="password" name="password"></label>
</div>
<div class="form-group form-row">
   <button class="btn btn-primary" type="submit">Log In</button>
   </div>
</form>
