<h1>Login</h1>
<br>

<%if @error %>
   <div class="alert alert-danger" role="alert">
   <%=@error%>
   </div>
<%end%>

<form method="POST" action="/login">
   <label>Uername:<input type="text" name="username"></label>
   <br>
   <label>Password:<input type="password" name="password"></label>
   <br>
   <input type="submit">
</form>