<h1>Sign Up</h1>
<br>

      <%if @errors %>
      <div class="alert alert-danger" role="alert">
         <h5 class="alert-heading">The following errors occurred:</h5>
         <hr>
         <%@errors.each do |error|%>
         <li><%=error%></li>
      <%end%>
      </div>
   <%end%>

<form method="POST" action="/signup">
   <label>First Name:<input type="text" name="first_name"></label>
   <br>
   <label>Last Name:<input type="text" name="last_name"></label>
   <br>
   <label>Email:<input type="email" name="email"></label>
   <br>
   <label>Username:<input type="text" name="username"></label>
   <br>
   <label>Password:<input type="password" name="password"></label>
   <br>
   <input type="submit">
</form>