<h1>Sign Up</h1>
<br>
<form method="POST" action="/signup">
   <label for="email">Email:
         <input type="text" name="email">
   </label>
   <br>
      <label for="username">Uername:
         <input type="text" name="username">
   </label>
   <br>
      <label for="password">Password:
         <input type="password" name="password">
   </label>
   <br>
   <input type="submit">
</form>