<div class="container">
  <h1>Kiddo Care</h1>
  <br>
  <p>Kiddo Care is your all in one Childcare Management Solution.</p>

  <%if logged_in?%>
    <a href="/dashboard"><button>Dashboard</button></a>
  <%else%>  
    <a href="/signup"><button>Sign Up</button></a>
    <a href="/login"><button>Log In</button></a>
  <%end%>
  
</div>
