<div class="container">
  <h1>Kiddo Care</h1>
  <br>
  <p>Kiddo Care is your all in one Childcare Management Solution.</p>
  <a href="/signup"><button>Sign Up</button></a>
  <a href="/login"><button>Log In</button></a>
</div>
